
<h1>Clinic treatments list</h1>
<ul>
  <% @categorys.each do |category|  %>
    <li>
      <h3><%= category.categoryName %></h3>
      <ul>
        <% @treatments.each do |treatment| %>
          <% if treatment.category_id == category.id %>
            <li>
              <%= link_to treatment.treatmentName, admin_treatment_url(id:treatment.id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>