<h1>Your selections</h1>
<p><%= @Patients.patientName %>, you have selected</p>
<ol>
  <% @Patients.selections.each do |selection| %>
    <li>
      <%= selection.treatment.treatmentName %>
    </li>
  <% end %>
</ol>

