<h1>Clinic treatments list</h1>
<ul class="container">
  <% @categorys.each do |category|  %>
    <li>
      <h3><%= category.categoryName %></h3>
      <ul>
        <% @treatments.each do |treatment| %>
          <% if treatment.category_id == category.id %>
            <li>
              <%= link_to render("treatmentName", translations: @translations, treatment: treatment, locale: @locale), new_user_treatment_url(id:treatment.id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<div>
  <p>
   Or if you want to see you selection, you can <%= link_to "log in here", user_patients_url() %>
  </p>
</div>