<h1 class="row m-3 mb-4">Confirm your selection</h1>
<%= render "form", treatment: @treatment, patients: @patient, link: "/user/treatments",  verb: "post" %>
<%= link_to "<< back to treatments list", user_treatments_url(), class:"nav-link m-3 mb-5" %>